<% provide(:title, 'top') %>
<div class="page-header">
  <h1 class="text-primary center">菅原町調剤薬局</h1>
</div>

<div class="col-md-8 col-md-offset-2 col-xs-12" id="main_container">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
      <%= image_tag 'pic2', :class=>'img-responsive img-rounded center-block' %>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-2 col-xs-4">
      <%= image_tag 'face_s', :class=>'img-thumbnail' %>
      社長 延寿慎次
    </div>
      菅原町調剤薬局ではのむらクリニック・有吉クリニックの両院からの処方箋受付を行っています。<br>
      体に入れるお薬のことだからこそ、人から人へ、安心して任せていただける薬局として日々努力しています。<br>
  </div>
  
  <div class="row">
    <h2> 今月のコラム </h2>
      菅原町調剤薬局では薬の他、健康増進に役立つ食品なども取り扱っています。食べ物は体を作る材料そのもの。不足しがちな栄養素を取り入れ、病気や怪我をしっかり予防しましょう！！
  </div>
  
  <h2>スタッフ紹介</h2>
  <div class="row">
    <h3 class="text-info">菅原町調剤薬局</h3>
    <div class="col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1">
      <%= image_tag 'staff_image', :class=>'img-responsive img-rounded' %>
    </div>
    <div class="col-md-5 col-xs-10 col-xs-offset-1">
      菅原町調剤薬局のメンバーは
      薬剤師が４名、事務員が３名のアットホームな環境で仕事をしています。
    </div>
  </div>
  <div class="row">
    <h3 class="text-info">早苗町調剤薬局</h3>
    <div class="col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1">
      <%= image_tag 'sanae', :class=>'img-responsive img-rounded' %>
    </div>
    <div class="col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1">
      こちらも薬剤師6名、事務員5名の頼もしい面々で
      皆様に元気を届けています。
    </div>
  </div>
  <div class="row">
    <h4> 信頼される薬局であるために </h4>
    <div class="col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1">
      <%= image_tag 'meeting', :class=>'img-responsive img-rounded' %>
    </div>
    <div class="col-md-5 col-md-offset-0 col-xs-10 col-xs-offset-1">
      最新の薬剤知識を常に取り入れるため、局内では製薬会社と連携した勉強会が定期的に開かれています。
    </div>
  </div>
  <div class="row">
    <h3>所在地</h3>
      福岡県北九州市八幡西区菅原町2-16<br>
      TEL 093-645-1310
  </div>

</div>
