// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
}
#main_container{
  background:#fff;
  //border:solid thin;
  //border-color:#CCC;
}
img.adjust{
  width: 100%;
  height: auto;
}
.row{
  margin: 0px 0 20px 0;
}

html{
  -webkit-text-size-adjust: 200%;
}
