<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "HOME", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Log in", '#' %></li>

				<li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
         ドロップダウン <span class="caret"></span>
         <ul class="dropdown-menu" role="menu">
            <li><a href="#">ドロップダウン項目１</a></li>
            <li><a href="#">ドロップダウン項目２</a></li>
         </ul>
        </a>
       </li>
      </ul>
    </nav>
  </div>
</header>
